.review-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}
.title{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin: 20px 0;
    border-bottom: 2px solid red;
}
@media screen and (max-width: 768px) {
      .review-container{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media screen and (max-width: 500px) {
    .review-container{
        grid-template-columns: 1fr;

    }
}